<h1>Curso de Angular</h1>
<p>Por Fernando Herrera</p>
<hr>
 <!-- Una vez puesta la etiqueta, se coloca dentro de {{ }} una variable de la app.component -->
<h3>{{ title }}</h3>
<br>
<h3>Counter: {{ counter }}</h3>
<br>
<button (click)="increaseBy(+1)">+1</button>
<button (click)="reset()">Reset</button>
<button (click)="increaseBy(-1)">-1</button>
<hr>
<h3>Utilizaremos un nuevo componente para el counter</h3>
<br>
<app-counter></app-counter>
<hr>
<h3>Nuevo Counter a partir del Componente Counter</h3>
<br>
<app-counter></app-counter>
<hr>
<p>Recordatorio del uso de snippets para crear componentes: a-[tipo componente]</p>
<hr>
<h3>Creamos un nuevo componente con: ng g c heroes/hero</h3>
<br>
<app-heroes-hero></app-heroes-hero>
<br>
<br>
<hr>
<app-heroes-list></app-heroes-list>

